rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Our standard permission model checks a permissions property for the
    // requested permission (or a special "all" permission)
    function hasPermission(data, permission) {
      return request.auth.uid != null
        && request.auth.uid in data.permissions[permission];
    }

    match /checklists/{checklistId} {
      allow read: if hasPermission(resource.data, 'read');
      allow write: if resource == null || hasPermission(resource.data, 'write');

      // Get parent checklist for subcollections
      function parentData() {
        return get(/databases/$(database)/documents/checklists/$(checklistId)).data;
      }
      
      match /{document=**} {
        allow read: if hasPermission(parentData(), 'read');
        allow write: if hasPermission(parentData(), 'write');
      }
    }

     match /test/{document=**} {
      allow read, write;
    }
  }
}